<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<test name="TestNGScript">
		<classes>

			<class name="com.TestNGScript.file.HomePageAmazonTest" />
			<class name="com.TestNGScript.file.loginAmazonTest" />
			<class name="com.TestNGScript.file.loginTest" />

		</classes>
	</test>
</suite>
